.footer-sign-in-section {
  margin-top: 30px;
  height: 125px;
  background-color: white;
  padding: 40px 0 23px;
}

.inner-box {
  border: solid 1px rgb(199, 199, 199) ;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-sign-in-section-first-row {
  font-size: 13px;
  margin-bottom: 3px;
}

.sign-in-button {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 90px;
  background-color: rgb(255, 189, 68);
  border-radius: 4px;
  border: 1px solid rgb(212, 131, 99);
}

.sign-in-button:hover {
  cursor: pointer;
}

.footer-sign-in-section-last-row {
  font-size: 11px;
  margin-top: 5px;
}

.footer-sign-in-section-span {
  color: rgb(2, 110, 2);
}

.back-to-top-section {
  background-color: rgb(67, 88, 107);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 14px;
}


.upper-footer {
  display: flex;
  justify-content: center;
  height: 330px;
  background-color:  rgb(43, 55, 66);
  color: white;
}

.upper-footer-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 14px;
}

.upper-footer-columns {
  width: 180px;
  padding: 10px;
}

.upper-footer-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.upper-footer-row {
  margin: 10px 0;
}

.upper-footer-span {
  font-size: 10px;
}

.columns-spacer {
  width: 100px;
}

.upper-header-second-part {
  background-color:  rgb(43, 55, 66);
  height: 110px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.amazon-logo {
  padding-top: 15px;
  width: 80px;
  margin-right: 80px;
}

.amazon-logo:hover {
  cursor: pointer;
}

.language-selector-footer {
  display: flex;
  padding: 2px 10px;
  border: 1px solid grey;
  border-radius: 2px;
  align-items: center;
}

.language-selector-footer:hover {
  cursor: pointer;
}

.language-name{
  color: rgb(201, 199, 199);
  font-size: 14px;
  padding: 7px 0;
}

.updown-icons {
  font-size: 7px;
  color: rgb(131, 131, 131);
  margin-left: 25px;
}

.currency {
  padding: 2px 35px 2px 10px;
  border: 1px solid grey;
  border-radius: 2px;
  align-items: center;
}

.currency:hover {
  cursor: pointer;
}

.curency-sign {
  font-size: 14px;
  color: white;
}

.country-name-and-flag {
  display: flex;
  padding: 2px 35px 2px 10px;
  border: 1px solid grey;
  border-radius: 2px;
  align-items: center;
}

.country-name-and-flag {
  cursor: pointer;
}

.flag-2 {
  width: 20px;
  margin-right: 10px;
}

.footer-last-part {
  background-color: black;
  height: inherit;
  display: flex;
  justify-content: center;
}

.footer-flex-container {
  margin: 50px 20% 10px 20%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.footer-flex {
  width: 120px;
  align-items: top;
  margin: 20px 20px;
}

.footer-flex-title {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 3px 0;
}

.footer-flex-discribe {
  color: grey;
  font-size: 12px;
}

.footer-flex:hover p {
  text-decoration: underline;
  cursor: pointer;
}

.copyright-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
  color: rgb(204, 204, 204);
}

.first-row {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.tik-cross {
  height: 15px;
  margin-left: -10px;
}

.copyright-section-texts:hover {
  text-decoration: underline;
  cursor: pointer;
}

.copyright-section-last-line {
  margin: 7px 0 25px;
}